<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Forms</title>
	<style>
	.icon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

.h1
{
	text-align: center;
	font-family: "Montserrat";
	font-size: 60px;
}

.para
{
	text-align: center;
	font-family: "Montserrat";
	font-size: 16px;
}
.para2
{
	text-align: center;
	font-family: "Montserrat";
	font-size: 15px;
	cursor:pointer;
    color:blue;
    text-decoration:underline;
}
.para2:hover
{
	text-decoration:none;
    text-shadow: 1px 1px 1px #555;
}
.para3
{
	text-align: center;
	font-family: "Montserrat";
	font-size: 15px;
}

.bg-white2 {
  background-color:#ffffff  !important;
color:#737373}

.footer-section {
  padding: 3em 0;
  background-color:#;
	clear: both;
	position:sticky;
	display: block;
	width: :100%;
}

   .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
	  </style>
</head>
<body>
	<b><h1 class="h1">Thank You !</h1></b><br>
	
	<img class="icon" src="https://thumbs.gfycat.com/ShyCautiousAfricanpiedkingfisher-size_restricted.gif" alt="tik image"/><br>
	
	<b><p class="para">Thank you very much for filling out our form .<br></p></b>
	<p class="para2" onclick="goBack()">Go back<br></p>
	<br><br><br>
	<footer class="footer-section bg-white2">
      
			<div class="container">
							
				<p class="para3" align=center>			
					
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> Radian Labs All rights reserved			
							
				</p>
      		
			</div>
		</footer>
		<script>
			function goBack() {
			window.history.back();
			}
		</script>
	
</body>
</html>