<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="public/css/style.css">
    <title>Rocket Forms</title>
</head>
<body>
	<b><h1 class="h1">Thank You !</h1></b><br>
	
	<img class="icon" src="public/img/tick-icon.png" alt="tik image"/><br>
	
	<b><p class="para">Thank you very much for filling out our form .<br></p></b>
	<p class="para2"><a href=#>Go to our homepage</a><br></p>
	<br><br><br>
	<footer class="footer-section bg-white2">
      
			<div class="container">
				
				<hr color="#737373" width=75%>			
				<p class="para3" align=center>			
					
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved			
							
				</p>
      		
			</div>
		</footer>
	
</body>
</html>