<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Forms</title>
	<style>
		.icon
		{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 10%;
		}

		.h1
		{
			text-align: center;
			font-family: "Montserrat";
			font-size: 60px;
		}

		.para
		{
			text-align: center;
			font-family: "Montserrat";
			font-size: 16px;
		}
		.para2
		{
			text-align: center;
			font-family: "Montserrat";
			font-size: 15px;
		}
		.para3
		{
			text-align: center;
			font-family: "Montserrat";
			font-size: 15px;
		}

		.bg-white2 {
		background-color:#ffffff  !important;
		color:#737373}

		.footer-section {
		padding: 3em 0;
		background-color:#;
			clear: both;
			position:sticky;
			display: block;
			width: :100%;
		}

		.navbar-expand-md > .container,
			.navbar-expand-md > .container-fluid {
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap; }
	  </style>
</head>
<body>
	<b><h1 class="h1">Sorry 😢 Try again</h1></b><br>
	
	<img class="icon" src="https://cdn.dribbble.com/users/2469324/screenshots/6538803/comp_3.gif" alt="tik image"/><br>
	
	<b><p class="para">Opps! Something went wrong<br></p></b>
	<p class="para2"><a href=#>Go to our homepage</a><br></p>
	<br><br><br>
	<footer class="footer-section bg-white2">
      
			<div class="container">
							
				<p class="para3" align=center>			
					
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> Radian Labs All rights reserved			
							
				</p>
      		
			</div>
		</footer>
	
</body>
</html>