.icon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

.h1
{
	text-align: center;
	font-family: "Montserrat";
	font-size: 60px;
}

.para
{
	text-align: center;
	font-family: "Montserrat";
	font-size: 16px;
}
.para2
{
	text-align: center;
	font-family: "Montserrat";
	font-size: 15px;
}
.para3
{
	text-align: center;
	font-family: "Montserrat";
	font-size: 15px;
}

.bg-white2 {
  background-color:#1F1F1F  !important;
color:#737373}

.footer-section {
  padding: 3em 0;
  background-color:#;
	clear: both;
	position:sticky;
	display: block;
	width: :100%;
}

   .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }